table {
    width: 100%;
    font-size: 1.8rem;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    thead {
        background: var(--primary-color);

        th {
            padding: 14px 8px;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--primary-color);

            &:nth-child(even) {
                background-color: rgb(120, 219, 231, 0.4);
            }
        }
    }

    th,
    td {
        text-align: center;
        white-space: nowrap;
        border-right: 2px solid var(--primary-color);
    }

    td {
        padding: 10px 4px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

.action-btn {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__link {
        padding: 4px;
        border-radius: 4px;
        transition: background, 0.3s;
        background: var(--color);

        &--medium {
            padding: 4px 10px;
            color: #fff;
        }

        &:hover {
            opacity: 0.8;
        }

        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(198deg) brightness(103%)
                contrast(100%);
        }
    }

    img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
}

.tbl-margin-top {
    margin-top: 30px;
}
